<!doctype html>
<html>
<head>
    <title>CONTACT BOOK</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
  <div class="container">
    <div class="createContact">
      <form action="/contacts" method="POST">
        <span id="title"> ADD A NEW CONTACT</span>
        <input type="text" id="fName" name="fName" placeholder="First Name" required>
        <input type="text" id="lName" name="lName" placeholder="Last Name" required>
        <input type="email" id="emailWork" name="wEmail" placeholder="Work Email">
        <input type="email" id="emailPersonal" name="pEmail" placeholder="Personal Email" required>
        <input type="tel" id="phoneNumPersonal" name="phoneNum" placeholder="Personal Phone Number" required>
        <input type="tel" id="phoneNumWork" name="phoneNumWork" placeholder="Work Phone Number">
        <input type="text" id="address" name="address">
        <input type="submit" name="submit" id="submit">
      </form>
    </div>
    <div class="contacts">
      <h1>ContactBook</h1>
      <% for (let i=0; i<contacts.length; i++) { %>
        <section class="contactCard">
          <h2><%=contacts[i].lastName%>, <%= contacts[i].firstName %><span class="material-symbols-outlined">
            delete
            </span></h2>
          <section class="contactDetails">
              <span><b>Work Email: </b><%=contacts[i].workEmail%></span>
              <span><b>Personal Email: </b><%=contacts[i].personalEmail%></span>
              <span><b>Mobile Phone: </b><%=contacts[i].personalPhone%></span>
              <span><b>Work Phone: </b><%=contacts[i].workPhone%></span>
              <span><b>Address: </b><%=contacts[i].address%></span>
            </section>
        </section>
      <% } %>
    </div>
  </div>
  <script src="main.js"></script>

</body>
</html>
